<div class="pull-right">
  <%= button_tag t("button.cancel"), type: :reset,
    class: "btn btn-sm btn-default cancel" %>
  <%= submit_tag t("button.save"), type: :button,
    class: "btn btn-sm btn-primary save" %>
</div>
